/* shopCategory.css */
.shop-category {
    position: relative;
    display: inline-block;
}

.shop-category img {
    width: 100%;
    height: auto;
}

.shop-category-text {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}